body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    overflow-x: hidden;
}

.homepage {
    width: 100%;
    background-color: #fdfdfe;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/citybg.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.menubar {
    display: flex;
    justify-content: center;
    font-family: Gilroy;
    align-items: center;
    margin-top: 60px;
}

.logo {
    font-weight: bolder;
    font-size: 35px;
    color: #242f51;
}

.logo span {
    color: #fcae61;
}

.menu {
    display: flex;
    justify-content: flex-start;
    margin-left: 360px;
}

.menu a {
    color: #242f51;
}

.menuitem {
    margin: 0px 20px;
    font-weight: normal;
    font-size: 15px;
}

.tryfree {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #2500f9;
    border: none;
    border-radius: 60px;
    width: 180px;
    height: 60px;
    margin-left: 40px;
}

a {
    text-decoration: none;
}

.infobox {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.pattern1 {
    position: absolute;
    top: 45px;
    left: 130px;
    width: 100%;
    height: 100%;
    background-image: url(./img/Patterns.svg);
    background-position: top;
    margin-right: 30px;
    z-index: 1;
}

.pattern2 {
    position: absolute;
    left: -320px;
    background-image: url(./img/patterns2.png);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.infodouble {
    z-index: 3;
    display: flex;
}

.info {
    margin-top: 200px;
}

.editorschoice {
    width: 320px;
    display: flex;
    justify-content: flex-start;
    background-color: #e2eaed;
    height: 36px;
    border-radius: 36px;
    align-items: center;
}

.check {
    width: 42px;
    height: 36px;
    background-color: #feaa25;
    border-radius: 36px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-certificate {
    font-size: 18px;
    position: absolute;
    color: white;
}

.fa-check {
    position: absolute;
    font-size: 12px;
    color: #feaa25;
}

.choice {
    font-family: Gilroy;
    font-weight: bold;
    margin-left: 10px;
    color: #242f51;
}

.heading {
    font-family: Gilroy;
    font-size: 60px;
    font-weight: bold;
    width: 600px;
    margin-bottom: 0px;
    margin-top: 15px;
    color: #242f51;
}

.subtext {
    font-family: Gilroy;
    font-size: 18px;
    color: grey;
    width: 500px;
}

.buttons {
    display: flex;
    margin-top: 55px;
    align-items: center;
}

.tryfree2 {
    
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #2500f9;
    border: none;
    border-radius: 60px;
    width: 180px;
    height: 60px;
}

.demo {
    font-family: Gilroy;
    color: #2500f9;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
}

.phone {
    width: 450px;
}

.trustbar > p {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: bold;
    color: #242f51;
    text-align: center;
    margin-top: 120px;
}

.trusted {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
    align-items: center;
}

.trdiv {
    margin: 0px 40px;
}

.featurebar {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.featurebar > img {
    margin-right: 20px;
}

.feature {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
}

.circle {
    width: 90px;
    height: 90px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c1 {
    background-color: #ffecef;
}

.c2 {
    background-color: #f4f4ff;
}

.c3 {
    background-color: #e4ffee;
}

.rside h2,
.jpot h2,
.dbuilt h2,
.whyus h2,
.lside h2,
.charges h2,
.oside h2,
.frequent h2,
.download h2 {
    color: #242f51;
    font-family: Gilroy;
    font-size: 40px;
    font-weight: bolder;
    width: 300px;
    margin-bottom: 0px;
}

.rside > p,
.cards p,
.jpot p,
.dbuilt p,
.carditem p,
.whyus > p,
.lside > p,
.thecard p,
.charges > p,
.oside p,
.frequent p,
.download p {
    font-family: Gilroy;
    font-size: 18px;
    color: grey;
    width: 500px;
}

.infoft h3,
.cards h3,
.carditem h3,
.thecard h3,
.oside h3,
.que h3,
.firstq h3 {
    font-family: Gilroy;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 0px 0px 40px;
}

.infoft p {
    font-family: Gilroy;
    font-size: 18px;
    color: grey;
    width: 300px;
    margin-left: 40px;
}

.h31 {
    color: #f55767;
}

.h32 {
    color: #2563ff;
}

.h33 {
    color: #40975f;
}

.jpot {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.jpot h2 {
    width: 400px;
    padding-right: 60px;
    margin: 0px;
    border-right: 1px solid grey;
}

.jpot p {
    width: 450px;
    padding: 0px;
    margin-left: 60px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.cards p {
    width: 250px;
}

.card {
    margin: 0px 60px;
}

.cards h3 {
    margin: 0px;
}

.jackpots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .circle {
    margin-bottom: 40px;
}

.dbuilt h2 {
    width: 400px;
}

.dbuilt p {
    width: 450px;
}

.dbuilt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 80px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 100px;
}

.rrside {
    margin-left: 100px;
}

.rrside button {
    margin-left: 0px;
    margin-top: 30px;
}

.cc1 {
    background-color: #ffecef;
}

.cc2 {
    background-color: #eaf9ff;
}

.cc3 {
    background-color: #fff6d3;
}

.cc4 {
    background-color: #e4ffee;
}

.cc5 {
    background-color: #f4f4ff;
}

.cc6 {
    background-color: #fdeee4;
}

.whyus,
.carditem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardslist {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,max(350px));
    margin-top: 40px;
}

.carditem p {
    width: 300px;
    text-align: center;
}

.carditem h3 {
    margin: 0px;
    margin-top: 30px;
}

.whyus h2 {
    width: 500px;
    text-align: center;
}

.whyus > p {
    width: 650px;
    text-align: center;
    margin-top: 40px;
}

.carditem .circle {
    margin-top: 50px;
}

.ultimate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding-left: 200px;
}

.cardgrid {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,max(350px));
}

.thecard h3 {
    margin-left: 0px;
}

.thecard p {
    width: 300px;
}

.lside h2 {
    width: 400px;
}

.lside > p {
    width: 450px;
}

.cardgrid .circle {
    margin-top: 40px;
}

.thecard h3 {
    margin-top: 30px;
}

.lside button {
    margin-left: 0px;
    margin-top: 40px;
}

.lside {
    margin-right: -90px;
}

.charges {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: solid #ebebeb 1px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.charges h2 {
    width: 600px;
    text-align: center;
}

.charges > p {
    width: 650px;
    text-align: center;
}

.monthly {
    width: 135px;
    height: 45px;
    border-radius: 45px;
    border: none;
    background-color: #2500f9;
    font-family: Gilroy;
    font-weight: bolder;
    color: white;
    font-size: 17px;
    margin: 0px;
}

.annually {
    width: 135px;
    height: 45px;
    border: none;
    border-radius: 45px;
    color: grey;
    font-family: Gilroy;
    font-weight: bolder;
    font-size: 17px;
    margin: 0px;
    background-color: white;
}

.buttonz {
    padding: 3px;
    border: 2px solid #ebebeb;
    border-radius: 51px;
    margin-top: 60px;
}

.pricing {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
}

.upperpart {
    width: 300px;
    height: 240px;
    background: linear-gradient(180deg, white, #f4f7f9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lowerpart {
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}

.option2 {
    margin-left: 40px;
}

ul {
    list-style: none;
    margin-left: -40px;
}

li {
    font-family: Gilroy;
    font-size: 16px;
    color: grey;
    font-weight: normal;
    margin: 30px 0px;
}

.upperpart .price {
    font-family: Gilroy;
    font-size: 18px;
    color: grey;
    margin-top: 50px;
}

.upperpart .name {
    font-family: Gilroy;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.upperpart .descr {
    font-family: Gilroy;
    font-size: 16px;
    color: grey;
    margin-top: 5px;
}

.price span {
    font-size: 50px;
    font-weight: bolder;
    color: #242f51;;
}

.lowerpart button {
    background-color: #2500f9;
    width: 210px;
    height: 55px;
    color: white;
    border: none;
    border-radius: 55px;
    font-family: Gilroy;
    font-weight: bold;
    font-size: 18px;
}

.option1 {
    box-shadow: 0px 60px 40px 0px #f4f6f7;
    border-radius: 10px;
    overflow: hidden;
}

.lowerpart a {
    text-decoration: none;
    margin-top: 10px;
}

.lowerpart a p {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: normal;
    color: #2500f9;
}

.option2 {
    border: 1px solid #ebebeb;
    border-radius: 10px;
    overflow: hidden;
}

.satisfaction {
    display: flex;
    justify-content: center;
    padding-right: 150px;
}

.oside h3 {
    margin: 0px;
}

.oside h2 {
    width: 500px;
}

#dess {
    width: 600px;
    margin-bottom: 6e0px;
}

.oside i {
    font-size: 20px;
    margin: 0px 2px;
    color: #ffcc00;
}

.stars {
    margin-bottom: 20px;
    margin-top: 30px;
}

.propic {
    width: 90px;
    height: 90px;
    border-radius: 90px;
    background-image: url(./img/adult-beard-boy-220453.png);
    background-position: 0 -5px;
    grid-row-start: 1;
    grid-row-end: 3;
}

.satispic {
    margin-top: 60px;
}

.author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.authordata h3 {
    margin-top: 20px;
}

.authordata {
    margin-left: 30px;
}

.authordata p {
    margin-top: 8px;
}

.arrbuttons {
    margin-left: -140px;
}

.arrbuttons,
.crc1,
.crc2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.crc1 {
    width: 40px;
    height: 40px;
    border: #ebebeb solid 2px;
    border-radius: 40px;
    background-color: white;
}

.crc2 {
    width: 40px;
    height: 40px;
    border: #ebebeb solid 2px;
    border-radius: 40px;
    background-color: #ebebeb;
}

.divider {
    width: 2px;
    height: 30px;
    background-color: #ebebeb;
    margin: 0px 10px;
}

#arr1 {
    color: #ebebeb;
}

#arr2 {
    color: #2500f9;
}

.oside {
    margin-left: -40px;
}

.frequent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ebebeb;
}

.frequent h2 {
    width: 700px;
    text-align: center;
}

.frequent > p {
    width: 580px;
    text-align: center;
    margin-bottom: 60px;
}

.firstq {
    width: 900px;
    height: 200px;
    background-color: #ebebeb;
    margin-bottom: 5px;
}

.firstq h3 {
    margin-top: 40px;
    margin-bottom: 30px;
}

.firstq p {
    margin-left: 40px;
    width: 750px;
    font-size: 16px;
}

.que {
    width: 900px;
    height: 60px;
    background-color: #ebebeb;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.que i {
    font-size: 22px;
    margin-right: 40px;
}

.download {
    display: flex;
    justify-content: center;
    margin-right: -140px;
    align-items: center;
}

.fpart {
    margin-right: -100px;
    margin-bottom: 100px;
}

.fpart h2 {
    width: 500px;
}

.fpart p {
    width: 650px;
}

.storelogos {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    padding-top: 20px;
}

.gplay {
    margin-right: 30px;
}

.footer {
    width: 100%;
    background-color: #09142e;
    margin-top: -81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 160px;
}

.logof {
    font-family: Gilroy;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}

.logof span {
    color: #fcae61;
}

.menuf {
    display: flex;
    justify-content: center;
}

.menuf p {
    font-family: Gilroy;
    font-size-adjust: 18px;
    color: white;
    margin: 0px 20px;
}

.followus {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.followus i {
    font-size: 30px;
    color: #273043;
    margin: 0px 10px;
}

#foi1 {
    color: white;
}

.copyright {
    font-family: Gilroy;
    font-size: 14px;
    color: #3d465a;
    font-weight: bold;
}